<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Band Details</title>
</head>
<body>

    <div class="moreDCon">
     
   
    <img src="{{.Image}}" alt="Band Image" width="200px" class="movimg">
    <h1 class="musicTit">Band Details for {{.Name}}</h1>

    <strong>ID:</strong> {{.ID}}<br>
    <strong>Name:</strong> {{.Name}}<br>
    <strong>Creation Date:</strong> {{.CreationDate}}<br>
    <strong>First Album:</strong> {{.FirstAlbum}}<br>
    <strong>Members:</strong> {{range .Members}} {{.}}, {{end}}<br>
    <strong>Locations:</strong> {{range .L}} {{.}}, {{end}}<br>
    <strong>Dates:</strong> {{range .D}} {{.}}, {{end}}<br>
    <strong>Relations:</strong><br>
    {{range $key, $value := .R}}
        <strong>{{$key}}:</strong> {{range $value}} {{.}}, {{end}}<br>
    {{end}}
    <br>
    <a href="/" class="backbutton">Back to Band List</a>
    </div>
</body>
</html>

